body{
    margin: 0;
    background-color: #F0F0F0;
    color: black;
}
a{ color: inherit; /* 继承 */ text-decoration: none; } 
*{ padding:0; margin: 0; }
hr{ height: 0; border: none; border-top: 1px solid #DEDEDE;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h6{font-weight: normal;}
.clearfix::after{content: "";display: block;clear: both;}

.topNavBar{
    padding: 20px 0 20px 0;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
.topbar-inner{
    padding: 0 16px;
}
.topNavBar nav{
    float: right;
    padding-top: 7px;
    /* padding-bottom: 4px; */
}

.topNavBar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav ul li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;

}

.topNavBar nav ul li a{
    font-size: 12px;
    color: #b7b7b7;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding-bottom: 5px;
    padding-top: 5px;
    display: block;
}
.topNavBar nav ul li a:hover{
    border-bottom: 3px solid #e06567;
}
.logo{
    float: left;
}
.topNavBar .logo{
    font-size: 24px;
    font-family: "Arial Black";
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    margin-right: 4px;
    color:#e06567;
}

.topNavBar .logo .card{
    color: gray;
}

.banner{
    height: 515px;
    background-position: center center;
    background-size: cover;
}
.mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 80%);
}
.usercard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: black;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.31);
}
.usercard .text{
    float: left;
    margin-left: 65px;
    width: 500px;
}
.usercard .welcome{
    background-color: #E6686A;
    color: white;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.usercard .welcome::after{
    content: "";
    width: 0;
    border: 10px solid transparent;
    border-left-color: #E6686A;
    border-top-width: 0px;
    position: absolute;
    top: 100%;
    left: 4px;
}

.usercard .picture{
    float: left;
}
.textAndPicture{
    padding: 50px;
}

.usercard .text h1{
    margin-top: 18px;
}
.usercard .text hr{
    margin: 20px 0;
}
.usercard .text dd,
.usercard .text dt{
    float: left;
    padding: 10px 0;
}
.usercard .text dd{
    width: 70%;
    color: #9da0a7;
}
.usercard .text dt{
    width: 30%;
    font-weight: bold;
}
.media{
    background-color: #e6686a;
    text-align: center;
}
.media a{
    border-radius: 50%;
    display: inline-block;
    padding: 5px 0;
    width: 30px;
    line-height: 20px;
    margin: 16px;
}
.media a:hover{
    background-color: #cf5d5f;
}
.usercard svg{
    width: 20px;
    height: 20px;
    fill: #fff;
    vertical-align: top;
}
body main{
    margin-top: -340px;
}
body main .download-wrapper{
    text-align: center;
}
body main .download{
    
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    background-color: #efefef;
    border: 1px solid gray;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;   
    transition: box-shadow 0.2s;
    
}
body main .download:hover{
    box-shadow: 0px 5px 13px -2px rgba(0,0,0,0.4);
}
body main .self-introduction{
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    padding: 20px 0;
    font-family: kai;
    border-left:5px solid #e6686a;
    border-right:5px solid #e6686a;
    background-color: white;
}
section.skills,section.protfolio{
    max-width: 930px;
    margin: 70px auto;
}
section.skills h2,section.protfolio h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills .skill{
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.31);
    padding: 42px 50px;
    margin-top: 30px;
}
section.skills .skill li{
   float: left;
   width: 48%;
   margin-bottom: 20px;
   box-sizing: border-box;
}
section.skills .skill li:nth-child(even){
    float: right;
 }
section.skills h3{
    font-size: 16px;
    line-height: 1.1;
}
section.skills .progressbar{
    height: 5px;
    background-color: #FAE1E1;
    border-radius: 2px;
    margin-top: 10px;
}
section.skills .progressbar .progress{
    content: "";
    display: block;
    height: 100%;
    width: 50%;
    background-color: #E6686A;
    border-radius: 2px;
}
section.protfolio {
    text-align: center;
}
section.protfolio nav{
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
}
section.protfolio nav ol{
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: top;
}
section.protfolio nav ol li:first-child{
    margin-left: 0;
}
section.protfolio nav ol li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.protfolio nav .bar{
    background-color: white;
    border-radius: 2px;
    height: 5px;
    margin-top: 5px;
}
section.protfolio nav .bar .bar-inner{
    height: 100%;
    background-color: #E6686A;
    border-radius: 2px;
    transition: all 0.3s;
}
section.protfolio nav .bar.status1 .bar-inner{
    margin-left: 0;
    width: 40px;
}
section.protfolio nav .bar.status2 .bar-inner{
    margin-left: 70px;
    width: 35px;
}
section.protfolio nav .bar.status3 .bar-inner{
   margin-left: 142px;
   width: 114px;
}
section.protfolio .jobs{
    margin-top: 30px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    height: 597px;
    position: relative;
    background-color: white;
}
section.protfolio .jobs .big img{
    height: 597px;
    width: 560px;
}
section.protfolio .jobs .big{
    position: absolute;
    top: 0;
    left: 0;
    
}
section.protfolio .jobs .small{
    position: absolute;
    right: 0;
}
section.protfolio .jobs .small img{
    height: 288px;
    width: 348px;
}
